*{
    margin: 0;
}
.main{
    width: 100vw;
}
.first,.second{
    width: 80%;
    margin: auto;
}
.first form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.first input{
    width: 80%;
    padding: 10px;
}
.first button{
    background-color: green;
    color: white;
    border: none;
    width: 20%;
}

.second table{
    width: 100%;
    border-collapse: collapse;
}
.second img{
    width: 100%;
    height: 250px;
}
.second tr{
    background-color: rgb(251, 247, 243);
}
.second tr:nth-child(odd){
    background-color: rgb(183, 181, 179);
}
.second th,td{
    padding: 10px;
}
.second a{
    background-color: navy;
    color: white;
    padding: 10px;
    text-decoration: none;
}
